.dashboard {
  display: flex;
  height: 100%;
}

.dashboard .map-container {
  width: calc(100% - 400px);
}

.dashboard .venue-list {
  height: 100%;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.dashboard .venue-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dashboard .venue-list ul li {
  width: 100%;
  border-bottom: 1px solid;
  border-color: #e8e8e8;
}

.dashboard .venue-list .venue-content {
  display: flex;
  /* margin-bottom: 16px; */
  padding: 24px;
}

.dashboard .venue-list {
  background-color: #ffffff;
}
/* .dashboard .venue-list .venue-item:nth-of-type(even) {
  background-color: #fafafa;
}
*/

.dashboard .venue-list .venue-content:hover {
  background-color: #e6f7ff;
}

.dashboard .venue-list .venue-name {
  text-align: left;
  flex: 1;
  margin: 0;
  font-weight: 300;
}

.dashboard .venue-list .issue-count {
  text-align: right;
  flex: 1;
  margin: 0;
  background-color: none !important;
  font-weight: 300;
}
