.dashboard {
  display: flex;
  height: 100%;
}

.dashboard .map-container {
  width: calc(100% - 400px);
}

.dashboard .venue-list {
  height: 100%;
  width: 400px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    -1px 0px 1px rgba(16, 22, 26, 0.2);
}
.dashboard .venue-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dashboard .venue-list ul li {
  width: 100%;
  border-bottom: 1px solid;
  border-color: #e8e8e8;
}

.dashboard .venue-list .venue-content {
  display: flex;
  /* margin-bottom: 16px; */
  padding: 18px;
}

.dashboard .venue-list .venue-item:nth-of-type(even) {
  background-color: #fafafa;
}

.dashboard .venue-list .venue-content:hover {
  background-color: #e6f7ff;
}

.dashboard .venue-list .venue-name {
  text-align: left;
  flex: 1;
  margin: 0;
}

.dashboard .venue-list .issue-count {
  text-align: right;
  flex: 1;
  margin: 0;
  background-color: none !important;
}
